main {
  min-height: 80vh;
}

.product-image {
  width: 100%;
  height: 200px;
  /* You can adjust the height as needed */
  object-fit: cover;
  /* This will ensure the image covers the entire area without distorting */
}